.page.container {
    margin: 30px;
}

.task-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

/* Styling for the page title and logout button */
.top {
    display: flex;
    flex-direction: column;
}
.user.title {
    font-size: 30px;
}

button.logout {
    margin-top: 10px;
    border: none;
    background-color: white;
    color: rgb(70, 130, 180);
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
button.logout:hover {
    text-decoration: underline;
}

/* Styling for lists */
.list.container {
    width: fit-content;
    max-width: 50%;
    height: fit-content;
}
input.add-list {
    border:none;
    height: 30px;
    border-bottom: 1px solid rgb(70, 130, 180);
    margin-bottom: 30px;
}
button.add-list {
    border:none;
    background-color: white;
    color:rgb(70, 130, 180);
}

.list.item.container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: fit-content;
}

input.update-list-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

button.submit-update {
    border: none;
    background-color: white;
    color: rgb(42, 172, 42);
}

button.close-update {
    border: none;
    background-color: white;
    color:rgb(78, 93, 106);
}

.list-item {
    width: 300px;
}

.list-item:hover {
    cursor: pointer;
}

.selected-item {
    color:rgb(70, 130, 180);
    font-weight: bold;
    width: fit-content;

}

button.hide {
    visibility: hidden;
}

button.list {
    border: none;
    margin-left: 10px;
    background-color: white;
}

button.delete.list {
    color: rgb(255, 56, 56);
}

button.update.list {
    color:rgb(70, 130, 180)
}

.list.options {
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Styling for tasks */

.task.container {
    width: 40%;
    padding: 20px;
    border: 1px solid black;
}
