.login.form.container {
    height: 100%;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.login {
    height: 100%;
    width: 400px;
    background-color:papayawhip;
    border-radius: 10px;
    padding: 35px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
